.text-animate{
    animation: text-animation 12s ease infinite;
    /* transform: translateY(100%); */
}

@keyframes text-animation {
    10%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(calc(var(--height)));
    }
    30%{
        transform: translateY(calc(var(--height)*2));
    }
    40%{
        transform: translateY(calc(var(--height)*3))
    }
    50%{
        transform: translateY(calc(var(--height)*4));
    }
    60%{
        transform: translateY(calc(var(--height)*5));
    }
    70%{
        transform: translateY(calc(var(--height)*6));
    }
    80%{
        transform: translateY(calc(var(--height)*7));
    }
    90%{
        transform: translateY(calc(var(--height)*8));
    }
    100%{
        transform: translateY(calc(var(--height)*9));
    }
}



/* Slide styles */
.caption::before{
    content:open-quote;
    display: block;
    font-size: 4rem;
    height: 60px;
    color: #45c14e;
}

.slick-current > div > div{
    box-shadow: 0 2px 5px  rgb(0,0,0,0.2);
    opacity: 1 !important;
}



.slick-dots li button::before {
    content: '' !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 100%;
    background-color: #002c43;
}

.slick-dots li:hover button::before{
    background-color: #002c43;
}

.slick-dots li{
    margin: 0 0.3rem !important;
}



/* GOOGLE PLAY SECTION */
.cloudOne{
    animation: cloudMovementOne 60s linear infinite alternate;
}
.cloudTwo{
    animation: cloudMovementTwo 65s linear 10s infinite alternate;
}
.cloudThree{
    animation: cloudMovementThree 60s linear infinite alternate;
}

@keyframes cloudMovementOne {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(1600px);
    }
}
@keyframes cloudMovementTwo {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1500px);
    }
}
@keyframes cloudMovementThree {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1600px);
    }
}